body {
  background-color: #f0f8ff; /* Light blue background */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
  background-color: #008000; /* Warna hijau untuk kesan segar */
  padding: 20px 0;
  box-shadow: 0 4px 2px -2px gray;
}

.judul-besar {
  font-size: 48px; /* Ukuran huruf besar */
  color: #ffffff; /* Warna teks putih */
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan teks untuk efek lebih menarik */
}

.container {
  text-align: center;
  margin-top: 20px; /* Tambahkan margin-top untuk memberikan jarak dari judul */
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Jarak antara tombol */
  margin-bottom: 20px; /* Add margin bottom */
}

.link-item {
  text-align: center;
}

.btn-redirect, .btn-christmas {
  background-color: #008000; /* Christmas green */
  color: #ffffff;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px #006400;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-redirect:hover, .btn-christmas:hover {
  background-color: #006400; /* Dark green on hover */
}

.btn-redirect:active, .btn-christmas:active {
  background-color: #004d00;
  box-shadow: 0 2px #003300;
  transform: translateY(2px);
}
